<!DOCTYPE html>
<html>
<head>
  <title>楽譜管理システム リリースノート v1.0</title>
</head>
<body>
  <h1>楽譜管理システム リリースノート v1.0</h1>
  
  <section>
    <h2>追加機能</h2>
    <ul>
      <li>ログアウトボタンが常時上部に配置されるようになりました。</li>
      <li>リリースノート、開発に使用したGitHub、Notionを閲覧できる機能が追加されました。</li>
    </ul>
  </section>
  
  <section>
    <h2>ログイン画面</h2>
    <ul>
      <li>サインイン情報を記録する機能が追加されました。</li>
    </ul>
  </section>
  
  <section>
    <h2>トップページ</h2>
    <ul>
      <li>楽譜検索機能が追加されました。曲名、作曲者、編曲者から検索できます。</li>
      <li>楽譜ソート機能が追加されました。昇順と降順を選択できます。</li>
    </ul>
  </section>
  
  <section>
    <h2>楽譜登録において</h2>
    <ul>
      <li>楽器の使用の有無を0と1で行うように変更されました。（使用する：1、使用しない：0）</li>
      <li>演奏時間の入力が秒単位から可能になりました。表示は「〇分〇秒」形式です。</li>
      <li>グレードは選択ではなく入力できるようになりました。</li>
    </ul>
  </section>
  
  <section>
    <h2>マイページ</h2>
    <ul>
      <li>アカウント作成日が表示されるようになりました。</li>
    </ul>
  </section>
  
  <section>
    <h2>楽譜詳細画面</h2>
    <ul>
      <li>使用楽器はクリックすることで表示されるようになりました。</li>
    </ul>
  </section>
  
  <section>
    <h2>マイページ編集</h2>
    <ul>
      <li>パスワード変更機能がこちらに追加されました。</li>
    </ul>
  </section>
  
  <section>
    <h2>使用楽器</h2>
    <ul>
      <li>EuphoniumとElectric Bassが追加されました。Baritoneは削除されました。</li>
    </ul>
  </section>

</body>
</html>
