/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*基本フィールド定義*/
 body {
    background-color: #f8f9fa;
    margin-left: auto;
    margin-right: auto;
    
    width: 920px;
    background:radial-gradient(#fff, #00abc5); 
    font-size: 15px;
 }
 .center {
    text-align: center;
 }
 .left {
    text-align: left;
 }
 .flex-field {
    justify-content: space-around;
    display: flex;
    background-color: #0067C0;
   border-radius: 10px;
 }
 .block-field {
   justify-content: space-around;
   display: block;

   width: 300px;
   margin: 0 auto;
   padding: 20px;
   background-color: #ffffff;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 table {
    margin: auto;
    padding: 50px;
    border-color: #930403;
    border: 3px;
 }
 .box {
   margin: 20px;
 }
 
 /*ボタン関連*/
 .search-button {
   height: 60px;
   width: 120px;
   border-radius: 20px;
   background-color: rgb(185, 255, 127);
   margin-bottom: 10px;
 }
 .signin-button {
   height: 30px;
   width: 100px;
   border-radius: 20px;
   background-color: rgb(127, 200, 255);
 }

 /*header*/
 .header {
   display: flex;
   width: auto;
   height: 100px;
   background-color: red;
   align-items: center;
   border-radius: 10px;
 }
 .list-item {
   list-style: none;
   display: inline-block;
   border: 2px solid;
   border-color: #bcdfff;
   border-radius: 10px;
   margin-right: 20px;
 }

 /*エラーメッセージ表示の際，勝手に新しいクラスが生成され，Viewを壊すようである．
   以下が生成されるクラスであり，これにCSSを当てておくことで崩壊を回避する．*/
 .field_with_errors {
   display: contents;
 }


/*flash関連*/
.flash-message {
   border-radius: 5px;
   padding: 16px 24px;
   margin: 16px 0px;
}
.flash-message.success {
   background-color: #bcdfff;
   color: #0067C0;
   border: solid 1px #0067C0;
}
.flash-message.danger {
   background-color: #ffd4d1;
   color: #930403;
   border: solid 1px #930403;
}

 /*チェックボックスを隠す*/
 #hide {
    display: none;
 }
 .hide {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
 }
 .hide-and-seek {
    display: none;
 }
 #hide:checked+label+.hide-and-seek {
    display: block;
 }