/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*基本フィールド定義*/
 body {
    background-image: url('haikei.jpg');
    background-size: cover;
    -webkit-backdrop-filter: blur(12px);
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    font-size: 15px;
 }
 .center {
    text-align: center;
 }
 .left {
    text-align: left;
 }
 .right {
   text-align: right;
 }
 .flex-field {
    justify-content: space-around;
    display: flex;
    background-color: #0066c02f;
    border-radius: 10px;
 }
 .block-field {
   justify-content: space-around;
   display: block;
   width: 70%;
   margin: 0 auto;
   padding: 20px;
   background-color: #ffffff7a;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 table {
    margin: auto;
    padding: 50px;
    border: solid 3px;
    border-color: #930403;
    background-color: #e4e4ec66;
    
 }
 .box {
   margin: 20px;
 }
 .text-field {
   width: 300px;
   height: 40px;
 }
 .edit-field {
  justify-content: space-around;
  display: flex;
  border-radius: 10px;
 }
 .hide {
  white-space: nowrap;
 }
 
 
 /*ボタン関連*/
 .button-field {
   justify-content: center;
   display: flex;
 }
 .search-button {
   height: 40px;
   width: 80px;
   border-radius: 20px;
   background-color: rgba(185, 255, 127, 0.29);
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 15px;
 }
 .signin-button {
   height: 30px;
   width: 100px;
   border-radius: 20px;
   background-color: rgb(127, 200, 255);
 }
 .delete-button {
   height: 30px;
   width: 100px;
   border-radius: 20px;
   background-color: rgba(255, 127, 127, 0.455);
   display: block;
   color: rgb(67, 67, 67);
 }
 .edit-button {
   height: 30px;
   width: 100px;
   border-radius: 20px;
   background-color: rgba(255, 127, 238, 0.351);
   color: rgb(67, 67, 67);
 }
 .submit-button {
  height: 30px;
   width: 100px;
   border-radius: 20px;
   background-color: rgba(131, 255, 127, 0.351);
   color: rgb(67, 67, 67);
 }

 /*header*/
 .header {
  justify-content: space-around;
   display: flex;
   width: auto;
   height: 100px;
   /*background-color: red;*/
   align-items: center;
   border-radius: 10px;
 }

 /*footer*/
 .footer {
  justify-content: space-around;
  display: flex;
  width: auto;
  height: 100px;
  /*background-color: rgb(0, 170, 255);*/
  align-items: center;
  border-radius: 10px;
 }

 /*header & footer*/
 .item {
  display: inline-block;
  border: 2px solid;
  border-color: #bcdfff;
  border-radius: 5px;
  background-color: #f9f8fa42;
}
.none-border {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

 /*エラーメッセージ表示の際，勝手に新しいクラスが生成され，Viewを壊すようである．
   以下が生成されるクラスであり，これにCSSを当てておくことで崩壊を回避する．*/
 .field_with_errors {
   display: contents;
 }


/*flash関連*/
.flash-message {
   border-radius: 5px;
   padding: 16px 24px;
   margin: 16px 0px;
}
.flash-message.success {
   background-color: #bcdfffaf;
   color: #0067C0;
   border: solid 1px #0067C0;
}
.flash-message.danger {
   background-color: #ffd4d1a9;
   color: #930403;
   border: solid 1px #930403;
}

 /*チェックボックスを隠す*/
 #hide {
    display: none;
 }
 .hide {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
 }
 .hide-and-seek {
    display: none;
 }
 #hide:checked+label+.hide-and-seek {
    display: block;
 }