<footer class="footer">
  <small>
    Our development document is <a href="https://www.notion.so/kut-se-group4/">here</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About this service.",   '#' %></li>
      <li><%= link_to "Release Notes", '#' %></li>
      <li><a href="https://github.com/MIZOGUCHIKoki/MusicScoreManagementApp">GitHub</a></li>
    </ul>
  </nav>
</footer>
