<hr>
<div class="footer">
  <ul>
    <li class="list-item"><%= link_to 'help', help_path%></li>
    <li class="list-item"><%= link_to 'Release note', release_note_path%></li>
    <li class="list-item"><%= link_to 'GitHub', 'https://github.com/MIZOGUCHIKoki/MusicScoreManagementApp'%></li>
    <li class="list-item"><%= link_to 'Documents', 'https://www.notion.so/kut-se-group4/dir-en-gray-789a9c3b505e4ac3994a1478477590f0?pvs=4'%></li>
  </ul>
</div>
