<hr>
<div class="footer">
    <div class="item"><%= link_to 'help', help_path, class: "none-border"%></div>
    <div class="item"><%= link_to 'Release note', release_note_path, class: "none-border"%></div>
    <div class="item"><%= link_to 'GitHub', 'https://github.com/MIZOGUCHIKoki/MusicScoreManagementApp', class: "none-border"%></div>
    <div class="item"><%= link_to 'Development documents', 'https://www.notion.so/kut-se-group4/dir-en-gray-789a9c3b505e4ac3994a1478477590f0?pvs=4', class: "none-border"%></div>
</div>
